<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading add-user">
            <p>List of users is fetched from <mark>{{file}}</mark></p>
            <button class="btn btn-primary"type="button">Add user</button>
        </div>

        <div class="panel-body">
            <table class="table table-hover table-bordered all-users">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
