<div class="container-fluid">
    <div class="panel panel-primary add-user">
        <div class="panel-body">
            <p class="lead">Click on the button below to add an entry to
            <mark>users</mark> table</p><button class="btn btn-primary"
            type="button">Add user</button>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <p>List of users is fetched from <mark>{{file}}</mark></p>
        </div>

        <div class="panel-body">
            <table class="table table-hover table-bordered all-users">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>First name</th>
                        <th>last name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
